apiVersion: apps/v1
kind: Deployment
metadata:
  name: jhipster-app
  labels:
    app: jhipster-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: jhipster-app
  template:
    metadata:
      labels:
        app: jhipster-app
    spec:
      containers:
        - name: jhipster-app
          image: ton-utilisateur/jhipster-app:17   # Remplace par ton Docker Hub tag
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "512Mi"
              cpu: "500m"
            limits:
              memory: "1Gi"
              cpu: "1"
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 5
